.container{
    /* width: 100vw; */
    /* height: 100%; */
    /* background: black;
    opacity: .5;
    position: relative; */
    text-align: center;
    height: 100vh;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
  }