

.paper{
    padding:1rem;
    /* margin:1rem 0 ; */
    background-color: #040E27!important;
    color:white!important
}

.blur{
    padding:1rem;
    /* margin:1rem 0; */
    background-color: #040E27!important;
    color:white!important;
    filter: blur(5px) brightness(30%);

}
.placeholder{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);

}

.row{
    justify-content: space-between;
    align-content: center;
    padding:0.3rem 0 
}


.negative{
    color:#F44336;
    margin:0;
    display: inline-flex;
}

.positive{
    color: #4CAF50;
    margin: 0;
    display: inline-flex;

}

.price{
    padding: 0;
    margin:0 0.3rem 0 0;
    display: inline-flex;
}



.vol{
    margin:0;
}

.symbol{
    margin:0
}