.container{
    background-color: #040E27;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem ;

}

.row{
    justify-content: center;
    align-content: center;
}

.text{
    text-align: center;
    margin: 0;

}

.title{
    text-align: center;
    margin:0 0 2rem 0 
}