
.section{
    margin: 1rem 0 ;
}
.col{
    margin:1rem 0 
}

.paper{
    padding:1rem 2rem;
    margin:1rem 0
}


.topRow{
    justify-content: space-between;
    align-content: center;
    padding:0.5rem 0 
}

.buttonRow{
    padding:1rem 0;
    justify-content: space-between;
    align-content: center;
}

.middleRow{
    align-content: center;
    justify-content: left;
    padding:0.5rem 0 
}

.negative{
    color: red;
    margin:0
}

.positive{
    color: green;
    margin: 0;
}

.price{
    padding: 0;
    margin:0 1rem 0 0 
}



.vol{
    margin:0;
}

.symbol{
    margin:0
}