
.section{
    margin: 1rem 0 ;
}
.col{
    margin:1rem 0 
}

.paper{
    margin:0.5rem 0;
    padding: 0.5rem 0
}


.topRow{
    justify-content: center;
    align-content: center!important;
}


.middleRow{
    align-content: center;
    justify-content: center;
}

.negative{
    color: red;
    margin:0
}

.positive{
    color: green;
    margin: 0;
}

.price{
    padding: 0;
    margin:0 1rem 0 0 
}



.vol{
    margin:0;
}

.symbol{
    margin:0
}